<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Form Insert Order</title>
</head>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>
	<div ng-app="myApp" ng-controller="MainController" novalidate>

		<form name="myForm" ng-submit="SendData()">
			Username:
			<input type="text" name="username" ng-model="order.username" required/><br>
			Tag:
			<input type="text" name="tag" ng-model="order.tag" required/><br>
			<input type="submit" value="Submit" ng-disabled="myForm.username.$invalid || myForm.tag.$invalid"/>
		</form>
		<p>{{PostDataResponse}}</p>

	</div>



	<script>
		var myApp = angular.module('myApp',[]);

		myApp.controller('MainController', function($scope,$http){

		$scope.SendData = function(){

			var dataSend = {
				username:$scope.order.username,
				tag:$scope.order.tag
			};

			var req = {
				method: 'POST',
			 	url: '../reqinsertorder',
			 	headers : {'Content-Type': 'application/json'},
			 	data: dataSend
			};

			$http(req).then(function(res){$scope.PostDataResponse = res.data},function(error){$scope.PostDataResponse="error to send request"});
			}

		});
	</script>	
</body>
</html>


